<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            name="ScenarioDiagramEditor Diagram Type"
            type="ScenarioDiagramEditor"
            id="ScenarioDiagramEditor.ScenarioDiagramEditorDiagramType">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            name="ScenarioDiagramEditor Diagram Type Provider"
            class="scenariodiagrameditor.diagram.ScenarioDiagramEditorDiagramTypeProvider"
            id="ScenarioDiagramEditor.ScenarioDiagramEditorDiagramTypeProvider">
         <diagramType
               id="ScenarioDiagramEditor.ScenarioDiagramEditorDiagramType">
         </diagramType>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="ScenarioDiagramEditor.validation"
            name="name">
      </category>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http:///scenariodiagram/validation">
         </package>
         <constraints
               categories="scenariodiagrameditor.validation">
            <constraint
                  class="scenariodiagrameditor.ValidateScenarioObjectTypes"
                  id="scenariodiagrameditor.validation.ValidateObjectTypes"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Validate Object Types"
                  severity="ERROR"
                  statusCode="42">
               <message>
                  ScenarioObject has no type
               </message>
               <target
                     class="de.uks.se.scenariodiagram.ScenarioObject">
               </target>
               <description>
                  ScenarioObject has no type
               </description>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="true"
            id="scenariodiagrameditor.validation.context">
         <enablement>
            <not>
               <equals
                     value="null">
               </equals>
            </not>
         </enablement>
      </clientContext>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="scenariodiagrameditor.wizard.ScenarioDiagramWizard"
            id="ScenarioDiagramEditor.wizard"
            name="ScenarioDiagramWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ScenarioDiagramEditor.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="ScenarioDiagramEditor.commands.category"
            id="ScenarioDiagramEditor.commands.sampleCommand"
            name="Code Generation">
      </command>
      <command
            defaultHandler="scenariodiagrameditor.handlers.TestCodeGenHandler"
            id="ScenarioDiagramEditor.command.testCommand"
            name="Test Code Generation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="scenariodiagrameditor.handlers.CodeGenHandler"
            commandId="ScenarioDiagramEditor.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ScenarioDiagramEditor.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="ScenarioDiagramEditor.menus.sampleMenu"
               label="Code Gen Menu"
               mnemonic="M">
            <command
                  commandId="ScenarioDiagramEditor.commands.sampleCommand"
                  id="ScenarioDiagramEditor.menus.sampleCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="ScenarioDiagramEditor.command.testCommand"
                  label="Test Code Generation"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ScenarioDiagramEditor.toolbars.sampleToolbar">
            <command
                  commandId="ScenarioDiagramEditor.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="ScenarioDiagramEditor.toolbars.sampleCommand"
                  tooltip="Code Generation">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
